body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:url('../../images/home/bg.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-10px;
  width:1190px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:930px;
  top:49px;
  width:230px;
  height:151px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:151px;
}
#u2 {
  position:absolute;
  left:2px;
  top:68px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:30px;
  top:30px;
  width:160px;
  height:270px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:270px;
}
#u4 {
  position:absolute;
  left:2px;
  top:127px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:220px;
  top:230px;
  width:980px;
  height:44px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:44px;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:300px;
  top:235px;
  width:93px;
  height:24px;
  font-family:'Oswald-RegularItalic', 'Oswald';
  font-weight:400;
  font-style:italic;
  font-size:25px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:460px;
  top:235px;
  width:93px;
  height:24px;
  font-family:'Oswald-RegularItalic', 'Oswald';
  font-weight:400;
  font-style:italic;
  font-size:25px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:597px;
  top:235px;
  width:93px;
  height:24px;
  font-family:'Oswald-RegularItalic', 'Oswald';
  font-weight:400;
  font-style:italic;
  font-size:25px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:947px;
  top:235px;
  width:93px;
  height:24px;
  font-family:'Oswald-RegularItalic', 'Oswald';
  font-weight:400;
  font-style:italic;
  font-size:25px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:760px;
  top:235px;
  width:120px;
  height:30px;
  font-family:'Oswald-RegularItalic', 'Oswald';
  font-weight:400;
  font-style:italic;
  font-size:25px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:220px;
  top:87px;
  width:17px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:960px;
  top:70px;
  width:100px;
  height:32px;
  font-family:'Oswald-RegularItalic', 'Oswald';
  font-weight:400;
  font-style:italic;
  color:#000000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:960px;
  top:102px;
  width:170px;
  height:65px;
  font-family:'Oswald-Medium', 'Oswald Medium', 'Oswald';
  font-weight:500;
  font-style:normal;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:65px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:250px;
  top:49px;
  width:230px;
  height:151px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:151px;
}
#u24 {
  position:absolute;
  left:2px;
  top:68px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:299px;
  top:73px;
  width:145px;
  height:32px;
  font-family:'Oswald-RegularItalic', 'Oswald';
  font-weight:400;
  font-style:italic;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:268px;
  top:119px;
  width:32px;
  height:37px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:323px;
  top:119px;
  width:32px;
  height:37px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:377px;
  top:119px;
  width:32px;
  height:37px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:430px;
  top:119px;
  width:32px;
  height:37px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:30px;
  top:310px;
  width:1170px;
  height:490px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:490px;
}
#u36 {
  position:absolute;
  left:2px;
  top:237px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:77px;
  top:1070px;
  width:510px;
  height:260px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:260px;
}
#u38 {
  position:absolute;
  left:2px;
  top:122px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:10px;
  top:1700px;
  width:1150px;
  height:70px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:70px;
}
#u41 {
  position:absolute;
  left:2px;
  top:27px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:77px;
  top:1390px;
  width:510px;
  height:260px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:260px;
}
#u43 {
  position:absolute;
  left:2px;
  top:122px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:637px;
  top:1070px;
  width:510px;
  height:260px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:260px;
}
#u45 {
  position:absolute;
  left:2px;
  top:122px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:637px;
  top:1390px;
  width:510px;
  height:260px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:260px;
}
#u47 {
  position:absolute;
  left:2px;
  top:122px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:213px;
  top:952px;
  width:237px;
  height:37px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:37px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:780px;
  top:950px;
  width:237px;
  height:37px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:37px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:30px;
  top:827px;
  width:780px;
  height:163px;
  font-family:'Oswald-RegularItalic', 'Oswald';
  font-weight:400;
  font-style:italic;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:163px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  word-wrap:break-word;
}
